{% extends "base.html" %}


{% block head %}
    {{ super() }}
    <style>
        body {
          background-color: #FFEBEE !important;
        }
    </style>
{% endblock %}

{% block content %}
     <section class="col-lg-6 m-5 mx-auto justify-content-center">
         <div class="d-flex gap-2 d-sm-flex justify-content-center">
             {{ ckeditor.load() }}
             {{ ckeditor.config(name='Review') }}
             <form method="POST" action="">
                 {{ form.hidden_tag() }}
                 <p class="lead">{{ form.rating.label }} for <em>{{ resource.name }}</em> </p>
                 <p>{{ form.rating }}</p>
                 <p class="lead">{{ form.review_text.label }}</p>
                 <p>{{ form.review_text }}</p>
                 <p>{{ form.submit() }}</p>
             </form>
         </div>
    </section>
{% endblock %}
