<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Care Grade</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
    <!-- NavBar -->
    <div class="p-2 bg-secondary text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex px-10 text-white text-decoration-none">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right-heart-fill" viewBox="0 0 16 16"><path d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353zM8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/></svg>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="#" class="nav-link px-2 text-white">Home</a></li>
              <li><a href="#" class="nav-link px-2 text-white">About</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Contact</a></li>
            </ul>
          </div>
        </div>
    </div>

    <!-- Text and Search Bar -->
    <section class="col-lg-12 mx-auto" style="background-image: url('/images/search_bar_background.png');background-position: center;">
        <div class="bg-light col-lg-12 mx-auto bg-opacity-50">
            <div class="p-5 col-lg-6 mx-auto justify-content-center">
                <img class="d-block mx-auto mb-4" src="/images/rating.jpg" alt="rating-image" width="180" height="57">
                <h1 class="display-5 fw-bold text-body-emphasis text-center pt-1" style="font-family: fantasy;">Care Grade</h1>
                <p class="lead mb-4 text-center">Search for mental health resources or conditions.Rate your experience on a clinic, therapist, helpline, charity, or any method of treatment.<br> Your story matters.</p>
                <div class="d-flex gap-2 d-sm-flex justify-content-center">
                    <form class="col-12 d-flex justify-content-center col-lg-auto mb-3 w-100 h-100" role="search">
                        <input type="search" class="form-control text-bg-dark me-3" placeholder="Search for a resource..." aria-label="Search">
                        <button type="submit" class="btn btn-warning"/>Search</button>
                    </form>
                </div>
            </div>
        </div>

    </section>


    <!-- Features -->
    <section id="features">
        <div class="container mt-5">
          <div class="row g-5 py-3 row-cols-1 row-cols-lg-3">

            <div class="col d-flex align-items-start">
              <div
                class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" height="30" fill="currentColor" class="bi bi-check2-circle"
                  viewBox="0 0 16 16">
                  <path
                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                  <path
                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                </svg>
              </div>
              <div>
                <h3 class="fs-2">Search for resources</h3>
                <p>Type in a mental health condition, for example, anxiety, depression, OCD, PTSD, and see what are the avaliable resources.</p>
              </div>

            </div>
            <div class="col d-flex align-items-start">
              <div
                class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" height="30" fill="currentColor" class="bi bi-mortarboard"
                  viewBox="0 0 16 16">
                  <path
                    d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5ZM8 8.46 1.758 5.965 8 3.052l6.242 2.913L8 8.46Z" />
                  <path
                    d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46l-3.892-1.556Z" />
                </svg>
              </div>
              <div>
                <h3 class="fs-2">Share your story</h3>
                <p>If you happen to know a resource that is not shown on this website, add it! By sharing your knowledge and experience, people in the same situation will benefit.</p>

              </div>
            </div>
            <div class="col d-flex align-items-start">
              <div
                class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" height="30" fill="currentColor" class="bi bi-arrow-through-heart"
                  viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l.53-.53c-.771-.802-1.328-1.58-1.704-2.32-.798-1.575-.775-2.996-.213-4.092C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182a21.86 21.86 0 0 1-2.685-2.062l-.539.54V14a.5.5 0 0 1-.146.354l-1.5 1.5Zm2.893-4.894A20.419 20.419 0 0 0 8 12.71c2.456-1.666 3.827-3.207 4.489-4.512.679-1.34.607-2.42.215-3.185-.817-1.595-3.087-2.054-4.346-.761L8 4.62l-.358-.368c-1.259-1.293-3.53-.834-4.346.761-.392.766-.464 1.845.215 3.185.323.636.815 1.33 1.519 2.065l1.866-1.867a.5.5 0 1 1 .708.708L5.747 10.96Z" />
                </svg>
              </div>
              <div>
                <h3 class="fs-2">Together, we survive.</h3>
                <p>The pandemic and the cost of living crisis left so many of us struggling. By sharing your experience and reading other people's stories, you know that you are not alone.</p>

              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- Source -->
    <h3 class="container py-3" style="font-style:Italic;font-family: Gill Sans">This project draws resources from...</h3>
    <div class="d-flex gap-5 flex-shrink-1 justify-content-center mb-5" style="height:60px">
        <img src="/images/mind.png">
        <img src="/images/stuff_that_works.png">
        <img src="/images/nhs.png">
        <img src="/images/google_map.jpg">
    </div>
    <!-- Reviews Grid-->
    <div class="py-3 text-center"style="background-color:#ffb6c0">
        <h4 class="text-center pb-3">Leave a review with kindness</h4>
      <div class="row row-cols-4 mr-5">
        <div class="col-md-4 pr-5"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="white" class="bi bi-chat-left-heart-fill" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/></svg>
      </div>

        <div class="col-md-4 position-relative">
            <div class="card position-absolute top-50 start-50 translate-middle" style="width: 22rem; border-radius:10%">
              <div class="card-body">
                <h5 class="card-title">Samaritans</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">⭐️⭐️⭐️⭐️</h6>
                <p class="card-text">There is always someone there, although they can only give you a very limited time. Sometimes, listening to a human voice telling me that everything is ok is helpful.</p>
              </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem; border-radius:10%">
              <div class="card-body">
                <h5 class="card-title">WPF Therapy</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">⭐️⭐️⭐️️</h6>
                <p class="card-text">A counselor at my university used to recommend this place, it is a shame that they are permanently closed!</p>
              </div>
            </div>
        </div>

        <div class="col-md-3 position-relative">
            <div class="card position-absolute top-50 end-0 translate-middle-y" style="width: 13rem; border-radius:10%">
              <div class="card-body">
                <h5 class="card-title">IESO Online talking therapy</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">⭐️⭐️️</h6>
                <p class="card-text">Not very useful. Doesn't feel very personal.</p>
              </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem; border-radius:10%">
              <div class="card-body">
                <h5 class="card-title">Mind side by side</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">⭐️⭐️⭐️</h6>
                <p class="card-text">An interesting community, but the content is a bit boring.</p>
              </div>
            </div>
        </div>

        <div class="col-md-3 pt-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="white" class="bi bi-envelope-paper-heart" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v1.133l.941.502A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765L2 3.133zm0 2.267-.47.25A1 1 0 0 0 1 5.4v.817l1 .6zm1 3.15 3.75 2.25L8 8.917l1.25.75L13 7.417V2a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1zm11-.6 1-.6V5.4a1 1 0 0 0-.53-.882L14 4.267zM8 2.982C9.664 1.309 13.825 4.236 8 8 2.175 4.236 6.336 1.31 8 2.982m7 4.401-4.778 2.867L15 13.117zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734Z"/></svg>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem; border-radius:10%">
              <div class="card-body">
                <h5 class="card-title">Mind Anxiety/Mood Peer Support Group</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">⭐️⭐️⭐️⭐️</h6>
                <p class="card-text">The session is quite structured, and the facilitators are well-prepared. Can actually learn something from the one hour session online.</p>
              </div>
            </div>
        </div>









      </div>
    </div>

    <!-- Footer -->
    <div class="container">
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
          <p>© 2024 Yayue, Zhou. All rights reserved.</p>
          <p>yayuezhou2020@gmail.com</p>
        </div>
    </div>










</body>
</html>
